#Paragraph{
		text-align:center;
}
#Pictures{
		text-align:center;
}
#Paragraph1{
	border: dottted 5px grey;
}
#Paragraph2{
	border-radius: 20px;
	border: 4px solid #877d72;
	padding: 15px;
	height: 50px;
}
#Pic1{
	float: right;
}
#Pic2{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}
#Pic3{
	background-image: url(pic3.jpg);
	background-size: 100px 100px;
	background-repeat: no-repeat;
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}
#potato{
	position: absolute;
	top: 20px;
	left: 30px;
}

